body {
	font-family: var(--font4);
	margin: 0;
	padding: 0;
	color: var(--main-bg-color);
}

header {

	width: 100%;
	text-align: center;
	background-color: var(--bg-navbar-footer);
}


nav {
	margin-top: 20px;
	display: flex;
	gap: 20px;
}

nav a {
	text-decoration: none;
	padding: 10px 20px;
	color: white;
	border-radius: 5px;
	transition: 0.3s;
}

nav a:hover {
	background-color: var(--hover-color);
}
.logo a {
	text-decoration: none;
	color: var(--main-bg-color);
}
.page1 {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 550px;
	background-image: url(../uploads/abstract-colors-2048x1152-wallpaper.jpg);
}

.hero {
	text-align: center;
	max-width: 600px;
	padding: 20px;
	font-family: var(--font6);
	color: var(--main-bg-color);
}

.navigation {

	display: flex;
	margin-left: 20px;
	margin-right: 20px;
	justify-content: space-between;
}

.hero h1 {
	font-size: 36px;
}

.hero p {
	font-size: 18px;
}

.cta-button {
	margin-top: 20px;
	display: inline-block;
	padding: 12px 24px;
	background-color: #28a745;
	color: white;
	border-radius: 5px;
	font-size: 18px;
	text-decoration: none;
	transition: 0.3s;
}

.cta-button:hover {
	background-color: #218838;
}

.about {
	color: var(--bg-navbar-footer);
	height: 600px;
	width: 100%;
	text-align: center;
}

#canvas {
	width: 80%;
	height: 400px;
	border: 1px solid black;
	margin: auto;
	background: #f8f8f8;
	position: relative;
}
