@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Lilita+One&family=Maven+Pro:wght@500&family=Signika+Negative:wght@500&family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Merienda:wght@300..900&display=swap');




:root {
	--main-bg-color: rgb(255, 255, 255);
	--bg-navbar-footer: #222;
	--bg-link: #c9daff;
	--bg-content: #434d5b;
	--hover-color:  #0056b3;
	--font1: 'Lilita One', cursive;
	--font2: 'Maven Pro', sans-serif;
	--font3: 'Signika Negative', sans-serif;
	--font4: 'Ubuntu', sans-serif;
	--font5: 'Fjalla One', sans-serif;
	--font6: 'Courier New', Courier, monospace;
	--font7: "Atkinson Hyperlegible", sans-serif;
	--font8: "Merienda", cursive;
}
