<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirect all requests to index.php

#	deny from all
ErrorDocument 404 /404.php

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [L]
</IfModule>

