body {
    align-items: center;
    background: linear-gradient(171deg, #000, var(--hover-color));
    color: #fff;
    display: flex;
    flex-direction: column;
    font-family: "Open Sans", sans-serif;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.sticky-header {
    animation: slideIn 1s ease-out;
    background: var(--bg-navbar);
    box-shadow: 1px 4px 24px #000;
    font-family: var(--font1);
    left: 0;
    padding: 15px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navigation {
    align-items: center;
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
}

.logo img {
    filter: invert(100%);
    mix-blend-mode: lighten;
}

.logo a {
    color: #ffcc00;
    font-size: 1em;
    letter-spacing: 2px;
    margin-bottom: 10px;
    text-transform: uppercase;
    transition: transform 0.3s ease-in-out;
}

.logo a:hover {
    color: #fff;
    transform: scale(1.1);
}

nav a {
    color: #fff;
    font-weight: 600;
    margin-left: 20px;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
}

nav a:hover {
    color: #ffd700;
    transform: translateY(-2px);
}

.container {
    margin-top: 6em;
}

.profile {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#input-file {
    display: none;
}

.profile label {
    background-color: rgb(89, 89, 235);
    border-radius: 10px;
    color: white;
    cursor: pointer;
    margin-top: 10px;
    padding: 10px;
}

.mb-3 span,
.mb-3 text-center profile {
    color: red;
    font-size: 1em;
    white-space: nowrap;
}

.flex {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.d-grid gap-2 {
    color: red;
}

.mb-3 span i {
    color: seagreen;
    font-size: 2em;
}
