body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
    /* line-height: 1.6; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Sticky Header */
.sticky-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: indianred;
    padding: 15px 0;
    z-index: 1000;
    animation: slideIn 1s ease-out;
    /* box-shadow: 1px 4px 24px #000; */
    font-family: var(--font1);
}

.navigation {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;

}



.logo a:hover {
    transform: scale(1.1);
    color: #fff;
}

.logo img {
    filter: invert(11%);
    border-radius: 100px;
}

.menubar nav a {
    font-size: 1.1em;
    margin: 0 20px;
    font-weight: 500;
    /* text-transform: uppercase; */
    color: #fff;
    transition: color 0.3s ease, transform 0.3s ease;
    text-decoration: none;
    cursor: pointer;
}

.menubar nav a:hover {
    color: #ffcc00;
    transform: translateY(-3px);
    text-decoration: underline;
}

nav {
    margin-inline: auto;
    display: flex;
    align-items: center;
}

.menubar {
    display: flex;
    flex-grow: 1;
    flex-direction: row-reverse;
    margin-right: 16px;
}

.logo img {
    filter: invert(100%);
}

.ui-w-80 {
    width: 80px !important;
    height: auto;
}

.btn-default {
    border-color: rgba(24, 28, 33, 0.1);
    background: rgba(0, 0, 0, 0);
    color: #4E5155;
}

label.btn {
    margin-bottom: 0;
}

.btn-outline-primary {
    border-color: #26B4FF;
    background: transparent;
    color: #26B4FF;
}

.btn {
    cursor: pointer;
}

.text-light {
    color: #babbbc !important;
}

.btn-facebook {
    border-color: rgba(0, 0, 0, 0);
    background: #3B5998;
    color: #fff;
}

.btn-instagram {
    border-color: rgba(0, 0, 0, 0);
    background: #000;
    color: #fff;
}

.card {
    background-clip: padding-box;
    box-shadow: 0 1px 4px rgba(24, 28, 33, 0.012);
}

.row-bordered {
    overflow: hidden;
}

.account-settings-fileinput {
    position: absolute;
    visibility: hidden;
    width: 1px;
    height: 1px;
    opacity: 0;
}

.account-settings-links .list-group-item.active {
    font-weight: bold !important;
}

html:not(.dark-style) .account-settings-links .list-group-item.active {
    background: transparent !important;
}

.account-settings-multiselect~.select2-container {
    width: 100% !important;
}

.light-style .account-settings-links .list-group-item {
    padding: 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
}

.light-style .account-settings-links .list-group-item.active {
    color: #4e5155 !important;
}

.material-style .account-settings-links .list-group-item {
    padding: 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
}

.material-style .account-settings-links .list-group-item.active {
    color: #4e5155 !important;
}

.dark-style .account-settings-links .list-group-item {
    padding: 0.85rem 1.5rem;
    border-color: rgba(255, 255, 255, 0.03) !important;
}

.dark-style .account-settings-links .list-group-item.active {
    color: #fff !important;
}

.light-style .account-settings-links .list-group-item.active {
    color: #4E5155 !important;
}

.light-style .account-settings-links .list-group-item {
    padding: 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
}